<h3>Select a Movie Below</h3>
    <% Movie.sorted_by_rating.each do |movie|  %>
    <ul>
        <li> 
            <strong><%= link_to movie.title, movie_path(movie) %></strong>
            <% if movie.rating_avg > 0%> 
            <%= "#{movie.rating_avg}%" %>
            <% else %>
            <%= flash[:notice]%>
            <% end %><br>
            <% movie.reviews.each do |review| %>
                <strong><%= review.user.username %></strong>
                <%= "#{review.rating}%" %> <br>
                <%= review.content %>
            <% end %> 
        </li>
    </ul>
    <% end %>
