<h3>Add a Movie to the list</h3>
<%= form_for @movie do |f| %>
   
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.fields_for :user_movies do |form| %>
        <%= form.hidden_field :user_id, value: @id %>
        <%= form.label "check if already seen", :watched %>
        <%= form.check_box :watched %>
    <% end %>
    <%= f.submit %>
<% end %>
    

<h3>Select a Movie Below</h3>
    <% Movie.sorted_by_rating.each do |movie|  %>
    <ul>
        <li> 
            <strong><%= link_to movie.title, movie_path(movie) %></strong>
            <% if movie.rating_avg > 0%> 
            <%= "#{movie.rating_avg}%" %>
            <% else %>
            <%= flash[:notice]%>
            <% end %> 
        </li>
    </ul>
    <% end %>

    
