<%= flash[:alert] %>

<h1><%= @movie.title %></h1>
<h2>Potatometer: <%= @movie.rating_avg %>%</h2>
<% @movie.reviews.each do |review| %>
    <div>
        <strong><%= review.user.username %>:</strong>
        <%= review.rating %>%<br>
        <%= review.content %><br>
        <% if review.user_id == @user.id%>
            <%= link_to "Edit Review", edit_user_movie_review_path(@user, @movie, review) %>
        <% end %> 
    </div><br>
<% end %> 

<% if @user.user_movies.find_by(movie_id: @movie.id) %>
    <%= form_with model: @user_movie, url: edit_list_path, method: :patch do |f| %>
        <%= render :partial => "/user_movies/form", :locals => {f: f}%>
        <%= f.submit "Update" %>
    <% end %>
<% else %>
    <%= form_for @new_user_movie do |f| %>
        <%= render :partial => "/user_movies/form", :locals => {f: f}%>
        <%= f.submit "add movie to list" %>
    <% end %>
<% end %>


<%= link_to "add another movie", new_user_movie_path(@user) %> <br>


<% user_movie = UserMovie.find_by(movie_id: @movie.id, user_id: @user.id) %>
<% if  user_movie && user_movie.watched  %>
    <%= link_to "leave a review", new_user_movie_review_path(@user, @movie) %>
<% end %>
