<h1><%= @user.name %></h1>

<h2>Your Movie List</h2>
<% @user.movies.each do |movie| %>
    <ul>
        <li><%= link_to movie.title, movie_path(movie)%> 
        <% if @user.user_movies.watched.find_by(movie_id: movie.id) %>
        &#9989;
        <% end %> </li>
    </ul>
<% end%>

<%= link_to "Edit Your Watchlist", edit_list_path %> <br>
<%= link_to "Add Movies to your watchlist", new_user_movie_path(@user)%> <br>
<%= link_to "Log out", logout_path, method: :delete %>